<!DOCTYPE html>
<html>

<title> News Feed</title>
<head> 
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript">
  <!--
    function updateSug() {
    var term = document.getElementById('searchBox').value;
    $.post('http://localhost:8080/suggest/'+escape(term), function(err, resJSONString) {
        
        
        if (err == null && resJSONString != null) {
            var elements = JSON.parse(resJSONString);
            var l = elements.length;
            if (l > 5) {
                l = 5;
            }
            
            var htmlOut = (l)+ " suggestion(s):<p><table border=\"1\">\n";
            for (var i = 0; i < l; i++) {
                htmlOut += "<tr><td>#"+(1+i)+"</td><td>"+elements[i]+"</td></tr>\n";
            }
            
            htmlOut += "</table>\n";
            $("#suggestedFriend").html(htmlOut);
        }
    });
    } // -->
    
    
  </script>

</head>



<body>
	<div class="container-fluid">
	<div class = "row"> 

			<div class="col-xs-1"></div>
			<div class="col-xs-10">

    <h1>Input a search term</h1>

    <form action="" method="" onSubmit="return false">
    <input type="text" placeholder="Type your search term here" name="thetext" size="20" id="searchBox" onKeyUp="updateSug()">

    <input type="submit" value="Replace">
    
    <!-- NOT VERY SURE WHAT THE SUBMIT SHOULD DO; COPIED FROM SLIDES // -->
    
    </form>


			<a href="/profile/<%= host %>" class="button"> <b> Profile </b> </a> 
			<a class = "pull-right" href="/signout" class="button"> <b> Signout </b> </a>    
			  </div>
	</div>

		<div class="row padding-md">

		<div class="col-xs-1"></div>
			<div class="col-xs-10 panel">
				<div class="row text-center" style="background-color:#6699ff; color:white">  News Feed </div>

				<% for (var i=0; i < news.length; i++) { %>
				<div class="panel">
					<div class="row" style="color:#6699ff">
						<a href="/profile/<%= news[i]["creator"]%>"> <b> <%= news[i]["creator"] %> </b> </a> : <%= news[i]["content"] %> 
						<br>
					</div>
					<div class="row">
						<% for(var j=0; j < news[i]["comments"].length; j++) { %>
						<a href="/profile/<%= news[i]["comments"][j]["commentor"]%>"> <%= news[i]["comments"][j]["commentor"]%> </a> : <%= news[i]["comments"][j]["commentContent"] %>
						<br>
						<% } %>
					</div>

					<% if (friends == "yes") { %>
					<div class="panel row" style="padding: 0">
						<br>
						<form class="" action="/createcomment/news" method="post">
							<input type="hidden" type="text" value= <%= news[i]["key"] %> name="i">
							<input type="hidden" type="text" value= <%= user %> name="h">
							<div class="col-md-10"> 	<input style="width: 100%" type="text" placeholder="Comment" name= "com" required> </div>
							<div class="cold-md-2"> <button class="btn-large" type="submit">Post </button> </div>
						</form>
					</div>
					<% } %>
				
				</div>
				<% } %>

			</div>
		<div class="col-xs-1"></div>
		</div> 


	</div>

</body>
</html>


